<footer>
  <div class="footer" style="clear: both;">
    <div class="footer-logo">Shopping</div>
    <div class="footer-list">
      <ul>
        <li>Tentang</li>
        <li>Saran</li>
        <li>email</li>
      </ul>
    </div>
  </div>
</footer>