<div class="header">
    <div class="header-logo"><a href="/">Shopping</a></div>
    <div class="header-list">
        <ul>
            <% if(user && user === 'fauza'){ %>
            <li>selamat datang <h3 class="user-welcome"><%=user%></h3>
            </li>
            <li><a href="/logout">Logout</a> </li>
            <li><a href="/product/manipulasi">Manipulasi product</a></li>
            <% }else if (user){ %>
            <li>selamat datang <h3 class="user-welcome"><%=user%></h3>
            </li>
            <li><a href="/logout">Logout</a> </li>
            <%}else {%>
            <li> <a href="/login">Login</a></li>
            <li><a href="/register">Register</a> </li>
            <%}%>
            <li><%= carts.length %> <a href="/carts">cart</a></li>
        </ul>
    </div>
</div>
</div>