<div class="header">
    <div class="header-logo"><a href="/">Shopping</a></div>
    <div class="header-list">
        <ul>
            <li><%= carts.length %> <a href="/carts">carts</a></li>
            <li>Login</li>
            <li>Register</li>
            <li>Logout</li>
        </ul>
    </div>
</div>
</div>