<div class="header">
    <div class="header-logo">Shopping</div>
    <div class="header-list">
        <ul>
            <li><%= carts.length %>cart</li>
            <li>Login</li>
            <li>Register</li>
            <li>Logout</li>
        </ul>
    </div>
</div>
</div>