<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add Product</title>
</head>

<body>
  <h1>ADD PRODUCT</h1>
  <form action="/product/add" method="POST">
    <table>
      <tr>
        <th>
          <label for="">NAMA</label>
        </th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>
          <label for="">PRICE</label>
        </th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>
          <label for="">DESCRIPTION</label>
        </th>
        <td><input type="text" name="description"></td>
      </tr>
      <tr>
        <th>
          <label for="">PICTURE</label>
        </th>
        <td><input type="text" name="picture"></td>
      </tr>
      <tr>
        <th><input type="submit" value="Add Product"></th>
      </tr>
    </table>
  </form>

</body>

</html>