<%- include("partials/head", {title:"send mail"}) %>

<body>
    <%- include("partials/nav", {carts: [], user}) %>

    <center>
        <h1>Success Buy Product</h1>
        <h3>Barang sedang dikirim</h3>
        <h3>Silahkan cek email untuk info selengkapnya</h3><br>
        <a href="/">
            <h4>back to product list</h4>
        </a>

    </center>

</body>

<%- include("partials/footer") %> 

</html>