body {
    font-family: "Avenir Next";
    background-image: url("sample-pattern.png");
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .user-welcome {
    margin: 0px;
  }
  
  .header {
    width: 98vw;
    background-color:orange;
    color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    font-size: 36px;
    padding: 20px 0px 20px 50px;
  }
  
  .header-list ul {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .header-list li {
    padding-right: 20px;
    font-size: 20px;
    color: #ae1b2a;
  }

  .contents {
    width: 98vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .section-title {
    border-bottom: 2px solid black;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    /* margin-right: 10px; */
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
  }
  .contents-item img{
    height: 200px;
    width: auto;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }

  .description-product {
    width: 98vw;
    display: flex;
    justify-content: center;
    margin: 80px 0px 50px 0px;
  }

  .description-product img {
    height: 300px;
    width: auto;
    
  }

  .cart-content{
    width: 98vw;
    margin: 50px 0px 50px 0px;
  }

  .th-image {
    width: 350px;
  }

  .button-cart-container {
    width: 98vw;
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px 100px 0px;
  }

  .button-cart {
    width: 200px;
    padding: 10px;
    font-size: 20px;
  }


  .footer {
    width: 100%;
    background-color: #ae1b2a;
    color: #fff;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    padding-left: 50px;
    font-size: 32px;
  }
  
  .footer-list {
    padding-right: 50px ;
  }
  
  .footer-list ul {
    display: flex;
  }

  .footer-list li {
    padding: 10px;
  }